/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 65px;
}

/* Utilities */

.bg-lightblue {
  background-color: #b4d0e7;
}

.bg-w {
  background-color: #fff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.mt-40 {
  margin-top: 40px;
}

.btn {
  background-color: #0061ff;
  border: none;
  height: 30px;
  line-height: 30px;
  width: 80px;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

/* Header */

header {
  line-height: 80px;
  font-size: 14px;
  font-weight: 500;
}

header a {
  color: #313131;
  display: inline block;
}

header .nav-right ul li:last-child button a {
  color: #fff;
}

.nav-left {
  width: 50%;
}

.nav-right {
  width: 50%;
  text-align: right;
}

header a img.brand {
  vertical-align: middle;
}

header ul {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

header ul li,
header ul li a {
  display: inline-block;
}

header .nav-left ul {
  margin-left: 40px;
}

header .nav-left ul li {
  margin-right: 30px;
}

header .nav-right ul li {
  margin-left: 30px;
}

/* Hero */
.hero-container {
  width: 80%;
  margin: 0 auto;
  background-color: red;
  position: relative;
  top: 80px;
}

.col-small {
  width: 40%;
}

.col-big {
  width: 60%;
}

.hero-container img {
  max-width: 100%;
}
